/*
 * Specify your mixins
 * @mixins
 */

@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

@mixin poscenter {
	position: absolute;
	top: 45%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
}
